@use "../scss/wom.scss" as *;

@mixin position-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav_container {
  padding: 1.8rem;
  display: flex;
  position: fixed;
  z-index: 15;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  background-color: $app;
  align-items: center;
  .logo {
    flex-shrink: 0;
    color: $black;
  }

  nav {
    font-weight: 600;
    font-size: 1.2rem;
    .menuToggle {
      display: none;
    }

    .middlen {
      .middle-nav {
        display: flex;
        float: left;
        column-gap: 1rem;
        a {
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $ms-white;
          font-weight: 550;
          &:visited {
            color: $ms-white;
          }
        }
        &__btn {
          border-radius: 20px;
          flex-shrink: 0;
          font-weight: 700;
          border: none;
          cursor: pointer;
          padding: 1.2rem;
          background-color: $color2;
          text-align: center;
          height: 2rem;

          width: 100px;
          transition: background-c;
        }
      }
    }

    .right-nav {
      display: flex;
      font-weight: 550;
      gap: 2rem;

      &__btn {
        border-radius: 20px;
        flex-shrink: 0;
        font-weight: 700;
        border: none;
        padding: 0;
        background-color: $color2;
        text-align: center;
        height: 2.2rem;

        width: 100px;
        transition: background-color 0.5s;
      }
      .menu {
        display: flex;
        gap: 1rem;
        list-style: none;
        li {
          column-gap: 1rem;
          justify-content: center;
          align-content: center;
          a {
            color: $black;
          }
        }
      }

      .toggleDark {
        background-color: transparent;
        border: none;
        padding: 0;
        color: $ms-black;
      }
    }
  }

  .nav_container a {
    color: $ms-black;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .nav_container {
    font-size: 1.3rem;
    height: 30px;
    .logo {
      font-size: 1.4rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    nav {
      display: flex;
      .open & {
        top: 0;
        &:before {
          animation: menu-animation 0.8s ease-out forwards;
        }
      }

      .middlen {
        display: flex;
        position: fixed;
        left: 4px;
        top: 1rem;
        width: 100px;

        justify-content: flex-start;
        .middle-nav {
          column-gap: 0.4rem;
          align-items: center;
          margin-left: auto;
          border-radius: 0;
          a {
            color: $ms-white;
            border-radius: 0;
            font-size: 0.8rem;
            font-weight: 550;
            &:visited {
              color: $ms-white;
            }
          }
          &__btn {
            flex-shrink: 3;
            border: 1px outset $w2;
            padding: 0;
            background-color: $color2;
            height: 1.6rem;

            width: 60px;
          }
        }
      }
      .menuToggle {
        display: flex;
        opacity: 0.8;
        background-color: transparent;
        position: fixed;
        z-index: 20;
        top: 20px;
        left: 20px;
        border: none;
        width: 24px;
        height: 18px;
        outline: none;
        transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
        font-weight: bold;
        svg {
          width: 28px;
          height: 24px;
        }
        &:active {
          transform: translateY(2px);
        }
        &:hover {
          opacity: 1;
        }
        .open & {
          opacity: 1;
          &:before {
            opacity: 0;
            width: 0;
          }
          &:after {
            opacity: 1;
            transform: translate3d(0, 0, 0) rotate(360deg);
            transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
          }
        }
      }
      // .right-nav {
      //   display: none;
      // }
      .right-nav {
        position: fixed;
        z-index: 15;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        .menu {
          display: none;
        }
        .open {
          opacity: 1;
          height: 100%;
          position: fixed;
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          row-gap: 0.5rem;
          align-items: center;
          background-color: $w1;
          transform: translate3d(0, 0, 0);
          transition: transform 0.2s ease-out, opacity 0.2s ease-out;
          & a {
            text-decoration: none;
            font-size: 1.8rem;
            transition: 0.3s;
            color: $black;
            &:hover,
            .overlay a:focus {
              color: #f1f1f1;
            }
          }
        }
      }
    }

    @keyframes menu-animation {
      0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
      }
      40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
      }
      40% {
        transform: scale(0.04) translateY(0);
      }
      60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
      }
      61% {
        transform: scale(0.04);
      }
      99.9% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
      }
      100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
      }
    }
  }
}
