$ms-white: #fdfffc;
$ms-black: #011627;

// Colors
$green: rgb(30, 215, 96);
$light-black: rgb(40, 40, 40);
$black: rgb(24, 24, 24);
$grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: #4688d7;

//For light  Theme
$app: #f3f6fd;
$star: #ff1c2e;

// For dark theme
$star: #ffd92c;

$color1: #426fc5;
$color5: #9381ff;
$color2: #735d78;
$color3: #e56b6f;
$color4: #e94043;

//For dark

$d1: #3d5a80;
$d2: #293241;
$d3: #282a35;
$d4: #1d1d1d;

//for white
$w1: #f2e9e4;
$w2: #735d78;
$w3: #c9ada7;
